@import url('https://fonts.googleapis.com/css2?family=Bahianita&display=swap');
.container {
  padding: 0 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.container div {
  margin: 25px 0;
  
}
.container div a{
  max-width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 10px 10px 5px rgb(126, 123, 123);
      -moz-box-shadow: 10px 10px 5px rgb(116, 113, 113);
      -webkit-box-shadow: 10px 10px 5px rgb(103, 99, 99);
      -khtml-box-shadow: 10px 10px 5px rgb(118, 111, 111);
}
.container div img {
  max-width: 100%;
}
.title {
  font-family: 'Bahianita', cursive;
  font-size: 5rem;
}
